---
layout: default
---
<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="work-experience">
        <h2>Work Experience</h2>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Kellogg Hotel and Conference Center</h3>
            <h5 class="card-subtitle mb-2 text-muted">Kitchen Porter</h5>
            <p class="card-text">
              Worked on maintaining cleanliness and order in the kitchen, supporting chefs, and performing basic food preparation tasks.
            </p>
          </div>
        </div>
        <!-- Add more work experience as needed -->
      </div>
      
      <div class="project-experience">
        <h2>Projects</h2>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Fetal State Predictor</h3>
            <p class="card-text">
              This project aims for predicting the state of fetus inside the mother's womb.
            </p>
            <a href="https://github.com/MarcusHu529/Fetal-State-Predictor" class="btn btn-dark btn-lg">View Project</a>
          </div>
        </div>
        <!-- Add more projects as needed -->
      </div>
      
      <div class="awards">
        <h2>Awards</h2>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Third place in CodeGreen Hackthon 2022</h3>
            <p class="card-text">
              I participated in this hackthon in the MSU AI club, and our team got the third place.
            </p>
          </div>
        </div>
        <!-- Add more awards as needed -->
      </div>
      
      <div class="club-experience">
        <h2>Clubs</h2>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">First Robotic Team 2018-2019</h3>
            <p class="card-text">
              I used to be in the robotics club and was responsible for researching the construction and programming of robots.
            </p>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">MSU AI club 2022-present</h3>
            <p class="card-text">
              I am participating in some projects in the AI ​club.
            </p>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">MSUWe54 2022-present</h3>
            <p class="card-text">
              In this club, I promote Chinese culture to the university and organize some activities during festivals.
            </p>
          </div>
        </div>
        <!-- Add more club experiences as needed -->
      </div>
    </div>

    <!-- Optionally, you can keep the sidebar if needed -->
    <div class="col-lg-4">
      {%- include blog_sidebar.html -%}
    </div>
  </div>
</div>
