---
layout: default
---
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 m10">
            <div class="card">
                <h1 class="card-title"> Education History </h1>
                <div class="card-body">
                    <h2>Yucai Chenggong High School</h2>
                    <p><strong>Degree:</strong> High School Diploma</p>
                    <p><strong>Years Attended:</strong> 2016 - 2018</p>
                    <p><strong>Description:</strong> Completed high school with a focus on science and mathematics, participated in various extracurricular activities and competitions.</p>

                    <h2>Marian High School</h2>
                    <p><strong>Degree:</strong> High School Diploma</p>
                    <p><strong>Years Attended:</strong> 2018 - 2019</p>
                    <p><strong>Description:</strong> Completed high school with a focus on science and mathematics, participated in various extracurricular activities and competitions.</p>

                    <h2>Michigan State University</h2>
                    <p><strong>Degree:</strong> Bachelor of Science in Computer Science</p>
                    <p><strong>Years Attended:</strong> 2021 - Present</p>
                    <p><strong>Description:</strong> Currently pursuing a Bachelor of Science degree in Computer Science, with a strong focus on software development, algorithms, and computer systems.</p>


                    <!-- Add more education history as needed -->
                </div>
            </div>
        </div>
    </div>
</div>




